*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.screen {
  width: 352px;
  height: 120px;
  border: 4px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  overflow: hidden;
  overflow-x: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.calculator {
  width: 400px;
  height: fit-content;
  border: 4px solid black;
  border-radius: 10px;
  padding: 20px;
}

.clearanddelete {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.clearanddelete > button {
  flex: 1;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  height: max-content;
}

.expression {
  height: 50%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.answer {
  height: 50%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  margin-top: 20px;
}

button {
  border: 2px solid black;
  width: 100px;
  height: max-content;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #eee;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

#clear {
  background-color: #faa;
}

#clear:hover {
  background-color: #e99;
}

#clear:active {
  background-color: #d88;
}

#delete {
  background-color: #aaf;
}

#delete:hover {
  background-color: #99e;
}

#delete:active {
  background-color: #88d;
}
